.catalog {
    position: relative;
    padding: 50px 0 100px 0;
    overflow-x: hidden;
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__descr {
        width: 950px;
        height: 15px;
        margin-top: 25px;
        font-size: 18px;
        font-family: 'Open Sans';
        font-weight: 300;
        text-align: center;
    }
    &__content {
        margin-top: 140px;
    }
    &-item {
        width: 300px;
        min-height: 440px;
        border: 2px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        margin-bottom: 20px;
        &__subtitle {
            margin-top: 70px;
            color: #212529;
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Open Sans';
        }
        &__pricing-manat {
            font-size: 40px;
        }
        &__pricing-price {
            font-size: 120px;
        }
        &__descr {
            margin-top: 16px;
            color: #212529;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
            font-family: 'Open Sans';
        }
        hr {
            background-color: #e3e0e0;
            margin-top: 50px;
            margin-bottom: 2px;
            border-bottom: none;
        }
        &__footer {
            &_mini {
                display: block;
                margin-left: 60px;
                margin-top: 15px;
            }
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 0px);
            
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
    }
}