.footer {
    position: relative;
    height: 180px;
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    &__social_item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px;
        width: 32px;
        height: 32px;
        background: #212529;
        border-radius: 100%;
        &:hover {
            background: $second-color;
            transition: all 0.6s;
        }
    }
    &__copy {
        text-align: center;
        margin-top: -20px;
        font-size: 14px;
        font-family: 'Open Sans';
    }
}